<!-- Describe task in general -->

<p>
    Crée et renvoie un nouveau {% if is_js %}tableau <span>(array)</span>{% else %}Iterable{% endif %} qui contient les mêmes éléments que l'argument {% if is_js %}tableau <span>(array)</span>{% else %}liste <span>(list)</span>{% endif %} <b class="code">items</b>, mais avec l'ordre inversé des éléments à l'intérieur de chaque sous-séquence maximale strictement ascendante.
    Cette fonction ne doit pas modifier le contenu du original {% if is_js %}tableau <span>(array)</span>{% else %}liste <span>(list)</span>{% endif %}.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}reverse-every-ascending.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}Tableau <span>(array)</span> de nombres <span>(numbers)</span>{% else %}Liste <span>(list)</span> d'entiers <span>(integers)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}Tableau <span>(array)</span> de nombres <span>(numbers)</span>{% else %}Liste <span>(list)</span> ou autre Iterable (tuple, iterator, generator) d'entiers <span>(integers)</span>{% endif %}.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<!-- <p class="for_info_only">
    <strong>Comment on l'utilise:</strong>
    <i>(les mathématiques sont utilisées partout)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <i>{% if is_js %}Tableau <span>(Array)</span>{% else %} Liste <span>(List)</span>{% endif %} ne contient que {% if is_js %}nombres <span>(numbers)</span>{% else %} entiers <span>(integers)</span>{% endif %}.</i>
</p>

<p><i>La mission a été tirée de Python CCPS 109 Fall 2018. Il est enseigné pour l'école d'éducation permanente Ryerson Chang par <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>

